{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
{% if current_user.is_authenticated %}
<h1>Детективы</h1>
{% for story in stories %}
<div class="margin-story">
    <p class="story-div">{{ story.id }}. {{ story.title }}
        {% if user_stories and story.id in user_stories %}✅{% else %}❌{% endif %}</p>
    <nav>

        <a href="/story_telling/{{ story.id }}" class="glo">Расследовать</a>
    </nav>
</div>
{% endfor %}
{% else %}
<h1 align="center" class="white-text">Яндекс Детектив</h1>
<h4 align="center" class="white-text">Вы готовы примерить на себя роль Шерлока Холмса?</h4>
<h4 align="center" class="white-text">Да? Тогда добро пожаловать!</h4>

{% endif %}
{% endblock %}