{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<h1>{{story.title}}</h1>
<div>
    <p align="center">{{story.text}}</p>
</div>
<div>
    <a class="btn alert-primary">Фото с места событий</a>
{% for picture in picture_list %}
    <p><img src={{ ''.join(picture) }}></p>
{% endfor %}
    <a class="btn alert-primary">Показания</a>
    <p>{{story.spectator.capitalize()}}</p>

    <a class="btn alert-primary">Улики</a>
    <p>{{story.opinion.capitalize()}}</p>
</div>
<a class="btn alert-warning">Ответ</a>
<p>
    {% for ans in story.answer_choice.split('_') %}
    {{ans.capitalize()}}
    {% if ans == story.answer %}
    <a class="btn alert-warning" href="/right_ans/{{ story.id }}"><font color="black">Да</font></a>
    {% else %}
    <a class="btn alert-warning" href="/wrong_ans"><font color="black">Да</font></a>
    {% endif %}
    <a class="btn alert-warning"><font color="black">Нет</font></a>
    {% endfor %}
</p>

{% endblock %}